<div class="container-fluid" ng-controller="MainCtrl">
  <div class="row">
    <div class="side col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="../assets/images/tyrion.jpg">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            VINCENT SONG
          </div>
          <div class="profile-usertitle-job">
            Front-End Developer
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li ng-repeat="menu in menus">
              <a href="" ng-click="gotoAnchor(menu.hash)">
                <i class="glyphicon {{menu.icon}}"></i>   {{menu.name}}
              </a>
            </li>
          </ul>
        </div>

        <div class="icon">
          <ul>
            <li>
              <a href="https://twitter.com/songvct">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/songvc">
                <i class="fa fa-github-square fa-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/songvc">
                <i class="fa fa-linkedin-square fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
        <footer>
          © Vincent Song 2015. All rights reserved.
        </footer>
        <!-- END MENU -->
      </div>
    </div>

    <div class="main col-md-9">
      <div class="top col-md-12">
        <img src="../assets/images/sf.jpeg" class="img-responsive">  
        <h1>Welcome to my website</h1>
        <p>Photo by Rob Bye via Unsplash</p>
      </div>

      <div class="bottom col-md-12">
        
        <section id="aboutme">
          <div class="page-header">
            <h1>ABOUT ME</h1>
          </div>
          <div class="jumbotron">
            <h2> HELLO, MY NAME IS VINCENT. </h2>
            <p>? I am a passionate front-end developer / former investment banker.<br> ? I love to work with both numbers and colors.<br> ? I love to analyze and crunch numbers. <br>? I love to design, create, and build. <br> @ I currently live in San Jose, California.</p>
          </div>
          <h2> Here are my technical skills:</h2>
          <br>
          <div class="col-xs-2 skillbox" ng-repeat="skill in skills">
            <a href="" class="label">{{skill}}</a>
          </div>
          
        </section>
        
        <section id="portfolio" class="clearfix">
          <div class="page-header">
            <h1>PORTFOLIO</h1>
          </div>   

          <div class="portfolio-content col-md-4" ng-repeat="work in works">
            <div class="thumbnail">
              <img ng-src="{{work.image}}" style="height:200px;weight:242;" class="img-rounded">
              <div class="caption">
                <h3>{{work.title}}</h3>
                <p class="description">{{work.description}}</p>
                <p>
                  <a ng-href="{{work.website}}" class="btn btn-default" role="button"><i class="fa fa-link"></i></a> <a ng-href="{{work.github}}" class="btn btn-default" role="button"><i class="fa fa-github"></i></a>
                </p>
              </div>
            </div>
          </div>
        </section>
       
        <section id="contact" class="clearfix">
          <div class="page-header">
            <h1>CONTACT</h1>
          </div>      
          <p>
            You can tweet me @songvct <br>
            You can see my linkedin @songvc <br>
            You can see my current projects @songvc <br>
            You can shoot me an email at songvc@gmail.com
          </p>       
        </section>

        <section id="blog">
          <div class="page-header">
            <h1>BLOG</h1>
          </div>    
          <div class="profile-content">
            Some user related content goes here...sdfd lore  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quidem architecto quasi, iusto neque sequi quibusdam cupiditate dolorum nobis animi. Eius enim eveniet optio aut animi, reiciendis blanditiis distinctio eligendi.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit, nesciunt sunt dolorem voluptates maxime. Eaque deleniti cumque illum odio obcaecati voluptatum animi accusantium maxime, magnam, amet, aut inventore voluptatem.
          </div>   
        </section>



      </div>

    </div>

  </div>
</div>