
// injector
@media (min-width: 768px) { 
  .side{
  	position:fixed;
  	width:25%;
  }
  .main{
		margin-left:25%;
  }
}

.side{
  background: -webkit-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #5f2c82 10%, #49a09d 90%); /* W3C */  	
	height:100%;
}

/* Profile container */
.profile {
  margin:0;
}


/* Profile sidebar */
.profile-userpic{
  text-align:center;
  img{
  	border: white solid 3px;
  	margin-top:20px;
  	width: 30%;
  	border-radius:50%;
  } 
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;

  	.btn{
  		background-color:rgba(255,255,255,.2);
  		border:none;
		  text-transform: uppercase;
		  font-size: 11px;
		  font-weight: 600;
		  padding: 6px 15px;
		  margin-right: 5px;
  	}

}

.profile-usermenu {
  margin-top: 30px;

  ul li{
	  border-bottom: 1px solid #f0f4f7;

		a{
			color: white;
			font-size: 14px;
			font-weight: 400;

			i{
			  margin-right: 8px;
			  font-size: 14px;
			}
			&:hover{
    		background-color:rgba(255,255,255,.3);
			}

		}
		.active{
		  color: #5b9bd1;
		  border-left: 2px solid #5b9bd1;
		  margin-left: -2px;
		}
  }
}

.icon{
	text-align:center;
	margin-top:40px;

	ul{
		list-style-type: none;

		li{
			display: inline;
		}

	}

	a{		
		margin-right: 50px;
		i{
			color: white;
			&:hover{
				color:rgba(255,255,255,.3);
			}
		}	

	}
}

footer{
	margin:40px 0px;
	color: white;
	font-size: 8px;
	text-align:center;
}



/* Profile Content */

.main-title{
	height:50px
}
.profile-content {
  padding: 20px;
}



// endinjector
